body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    position: relative;
    min-height: 100vh;
padding-bottom: 140px;
    margin: 0;
}

#wrapper{
    max-width: 960px;
    margin: auto;
   
    
}
/* Index styling */
#read-more{
text-align: center;
}
#read-more button{
border-radius: 16px;
padding: 5px 10px;
}
#read-more button a{
text-decoration: none;
color: black;

}

footer{
    background-color:#1a237e;
    height: 50px;
    padding-top: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
margin-top: 20px;
}
nav{
    border-bottom: #3949ab;
   border-style: solid;
   border-left: none;
   border-right: none;
   border-top: none;
}
nav a{
    color:#3949ab ;
    text-decoration: none;
}
nav a :hover{
    color:#1a237e;
    cursor: pointer;
    text-decoration: none;
   
}
a{ 
    color: blue;
}
.babyphoto{
    width: 80px;
    height: 100px;
    float: left;
    margin-right: 20px;
}


/* CSS media queries*/
@media screen and (min-width:600px) { 
    #smaller{display: none;}

 
    #wider{display: block;}
 ul {display: flex; justify-content: space-between; list-style: none;}}
 
 @media screen and (max-width:600px) { 
    #smaller{display: block;}
    ul {display: inline; justify-content: space-between; list-style: none;}
    #wider{display: none;}
}
   
 

    /* Designing smaller nav */
    #smaller summary{
            cursor: pointer;
            list-style: none;
    }  
    summary img{
        width: 20px;
        height: 20px;
    }
 

 /* Designing results table*/
 #resultstbl{
    border: black;
    border-style: solid;
 }
 th{
    background-color: #1a237e;
    color: white;
 }
 td{
    text-align: center;
 }
 /* Form Page*/
#submitbutton{
    margin-bottom: 5px;
}

#details{
border: 2px;
border-style: solid;
border-color: black;
width: 400px;
padding: 5px;
}

